<!DOCTYPE html>
<html>
    <head>
        <title>SisGerCar</title>
        <meta charset="utf-8">
        <style type="text/css">
            div#content{
                height: 500px;
            }
            header h1{
                border-bottom: 2px solid #FFA500;
                text-align: center;
                padding-bottom: 20px;
            }
            nav a{
                display: block;
                margin: 10px 20px;
            }
            nav a:link{
                color: #ff0000;
            }
            nav  a:visited{
                color: #1F04aF;
            }
            nav a:hover{
                color: #FFA500;
            }
            nav a:active {
                color: #0000FF;
            }
            footer p{
                border-bottom: 2px solid #FFA500;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <header>
                    <h1>Projeto: Gerenciamento de Carros</h1>
            </header>
            <nav>
                <a href="/cars/run/BMW/X3">Projeto Fase 01: Configurando Ambiente</a>
                <a href="/cars/">Projeto Fase 02: Criando Bundle - Listagem de Automóveis</a>
                <a href="/cars/doctrine">Projeto Fase 03: Criando Entidades - Listagem de Automóveis</a>
                <a href="/cars/mapping">Projeto Fase 04: Relacionando Entidades - Listagem de Automóveis por Fabricante | Fabricante por carro</a>
            </nav>
       </div>
       <footer>
           <p></p>
       </footer>
    </body>
</html>
